<!-- CollapseNavbar -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">ANASAYFA<span class="sr-only">(current)</span></a></li>
        <li><a href="blog.html">ÜRÜNLER</a></li>
        <li><a href="blog-detail.html">KENDİN TASARLA</a></li>
        <li><a href="contact.html">BLOG</a></li>
        <li><a href="#">İLETİŞİM</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li class="menu-search-form">
            <a href="#" id="open-srch-form"><img src="~/ui/images/srch.png" alt="srch"></a>
        </li>
        <li><a href="#"><img src="~/ui/images/pav.png" alt="pav"><span>2</span></a></li>
        <li><a href="#"><img src="~/ui/images/bag.png" alt="bag"><span>2</span></a></li>
        <li id="open-srch-form-mod">
            <div>
                <form class="side-search">
                    <div class="input-group">
                        <input type="text" class="form-control search-wid" placeholder="Search Here"
                            aria-describedby="basic-addon1">
                        <a href="" class="input-group-addon btn-side-serach" id="basic-addon1"><i
                                class="fa fa-search"></i></a>
                    </div>
                </form>
            </div>
        </li>
    </ul>

</div><!-- /.navbar-collapse -->
<!--</div> -->

</nav>
</div>