<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="cat-nav-mega">
    <ul class="nav navbar-nav">
        <li class="active"><a href="index.html">BİLEKLİK</a></li>
        <li class="dropdown menu-large">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">DOĞAL TAŞ<i
                    class="fa fa-angle-down"></i></a>
            <ul class="dropdown-menu megamenu" role="menu">
                <li>
                    <div class="">
                        <div class="mega-sub">
                            <div class="mega-sub-title">Doğal Taş Dünyası</div>
                            <ul>
                                <li><a href="">Ham Parça</a></li>
                                <li><a href="">Kolye Ucu</a></li>
                                <li><a href="">Çakra Bilekliği</a></li>
                                <li><a href="">Yeni Gelenler</a></li>
                                <li><a href="">İndirimdeki Ürünler</a></li>
                                <li><a href="">Çok Satanlar</a></li>
                                <li><a href="">Özel Koleksiyonlar</a></li>
                                <li><a href="">Niyetine Göre</a></li>


                            </ul>
                        </div>
                        <div class="mega-sub">
                            <div class="mega-sub-title">Popüler Taşlar</div>
                            <ul>
                                <li><a href="">Kuvars</a></li>
                                <li><a href="">Ametist</a></li>
                                <li><a href="">Sitrin</a></li>
                                <li><a href="">Pembe Kuvars</a></li>
                                <li><a href="">Akik</a></li>
                                <li><a href="">Selenit</a></li>
                                <li><a href="">Ay Taşı</a></li>
                                <li><a href="">Güneş Taşı</a></li>
                                <li><a href="">Labradorit</a></li>
                                <li><a href="">Turmalin</a></li>

                            </ul>
                        </div>
                        <div class="mega-product">
                            <div class="mega-sub-title">Yeni Gelenler</div>
                            <div class="row">
                                <div class="col-md-6 prdct-grid">
                                    <div class="product-fade">
                                        <div class="product-fade-wrap">
                                            <div id="product-image10" class="owl-carousel owl-theme">
                                                <div class="item"><img src="~/ui/images/p-9.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-3.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-4.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-5.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-2.jpg" alt=""
                                                        class="img-responsive"></div>
                                            </div>
                                            <div class="product-fade-ct">
                                                <div class="product-fade-control">
                                                    <div class="to-left">
                                                        <a href=""><i class="fa fa-heart"></i></a>
                                                        <a href=""><i class="fa fa-retweet"></i></a>
                                                        <a href=""><i class="fa fa-search"></i></a>
                                                    </div>
                                                    <div class="to-right">
                                                        <div id="product-control10" class="owl-carousel owl-theme">
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <a href="" class="btn btn-to-cart"><span
                                                            class="bag"></span><span>Add To
                                                            cart</span>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        Striped Men's Round Neck T-Shirt
                                    </div>

                                    <div class="product-price">
                                        <span>$19.00</span> $15.00
                                    </div>
                                </div>
                                <div class="col-md-6 prdct-grid">
                                    <div class="product-fade">
                                        <div class="product-fade-wrap">
                                            <div id="product-image11" class="owl-carousel owl-theme">
                                                <div class="item"><img src="~/ui/images/p-1.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-3.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-4.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-5.jpg" alt=""
                                                        class="img-responsive"></div>
                                                <div class="item"><img src="~/ui/images/p-1.jpg" alt=""
                                                        class="img-responsive"></div>
                                            </div>
                                            <div class="product-fade-ct">
                                                <div class="product-fade-control">
                                                    <div class="to-left">
                                                        <a href=""><i class="fa fa-heart"></i></a>
                                                        <a href=""><i class="fa fa-retweet"></i></a>
                                                        <a href=""><i class="fa fa-search"></i></a>
                                                    </div>
                                                    <div class="to-right">
                                                        <div id="product-control11" class="owl-carousel owl-theme">
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                            <div class="item">
                                                                <div class="bullets"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <a href="" class="btn btn-to-cart"><span
                                                            class="bag"></span><span>Add To
                                                            cart</span>
                                                        <div class="clearfix"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-name">
                                        Striped Men's Round Neck T-Shirt
                                    </div>

                                    <div class="product-price">
                                        <span>$19.00</span> $15.00
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="blog.html">BURÇLAR ÖZEL</a></li>

        <li><a href="blog.html">KOLYE</a></li>

        <li><a href="contact.html">YÜZÜK</a></li>
        <li><a href="contact.html">KÜPE</a></li>
        <li><a href="contact.html">TÜTSÜ</a></li>
        <li><a href="contact.html">PARFÜM</a></li>
        <li><a href="contact.html">GÜMÜŞ & ÇELİK </a></li>
    </ul>

</div><!-- /.navbar-collapse -->
<!--</div> -->
</nav>
</div>
</div>
</div> <!-- header -->