<div id="believe-nav"> <!-- Nav -->
    <div class="container">
        <div class="min-marg">
            <nav class="navbar navbar-default">
                <!-- <div class="container-fluid"> -->
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/ui/images/logo.png" alt=""></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="index.html">ANASAYFA<span class="sr-only">(current)</span></a></li>
                        <li><a href="blog.html">ÜRÜNLER</a></li>
                        <li><a href="blog-detail.html">KENDİN TASARLA</a></li>
                        <li><a href="contact.html">BLOG</a></li>
                        <li><a href="#">İLETİŞİM</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="menu-search-form">
                            <a href="#" id="open-srch-form"><img src="~/ui/images/srch.png" alt="srch"></a>
                        </li>
                        <li><a href="#"><img src="~/ui/images/pav.png" alt="pav"><span>2</span></a></li>
                        <li><a href="#"><img src="~/ui/images/bag.png" alt="bag"><span>2</span></a></li>
                        <li id="open-srch-form-mod">
                            <div>
                                <form class="side-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control search-wid" placeholder="Search Here"
                                            aria-describedby="basic-addon1">
                                        <a href="" class="input-group-addon btn-side-serach" id="basic-addon1"><i
                                                class="fa fa-search"></i></a>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </div><!-- /.navbar-collapse -->
                <!--</div> -->

            </nav>
        </div>
        <div class="srch-form">
            <form class="side-search">
                <div class="input-group">
                    <input type="text" class="form-control search-wid" placeholder="Search Here"
                        aria-describedby="basic-addon2">
                    <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"><i
                            class="fa fa-search"></i></a>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Nav -->