<div class="srch-form">
    <form class="side-search">
        <div class="input-group">
            <input type="text" class="form-control search-wid" placeholder="Search Here"
                aria-describedby="basic-addon2">
            <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"><i class="fa fa-search"></i></a>
        </div>
    </form>
</div>
</div>
</div> <!-- Nav -->