<div id="wrapper" class="homepage-1"> <!-- wrapper -->
    <div id="header"> <!-- header -->
        <div class="top"> <!-- top -->
            <div class="container">
                <li><i class="fa fa-phone-square"></i><span>(+800) 123 456 7890</span></li>
                <li><a href=""><i class="fa fa-envelope-square"></i><span>info@bootstrapmart.com</span></a></li>
                </ul>
                <div class="top-offers">
                    <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        300₺ üzeri kargo bedava!</a>
                    </div>
                </div>
                <div class="top-control">
                    <a href="">Sipariş</a><span>•</span><a href="">Kayıt Ol</a><span>•</span><a href="">Giriş
                        Yap</a>
                </div>
                <div class="clearfix"></div>
                <div class="top-offers show-mobile">
                    <div class="alert alert-warning alert-dismissible fade in offers" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true"><i class="fa fa-times-circle"></i></span></button> 300₺ üzeri
                        kargo bedava!
                        <a href=""> </a>
                    </div>
                </div>
            </div>
        </div> <!-- top -->